<!DOCTYPE html>

<td class="esd-structure es-p10t es-p10b es-p10r es-p10l" align="left">
    <table width="100%" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td class="esd-container-frame" width="580" valign="top" align="center">
                    <table width="100%" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td class="esd-block-image" style="font-size:0" align="center">
                                    <a href={{link}} target="_blank"><img src="http://server-URL/static/images/streetAnalyzer.jpeg" alt="Street Analyzer logo" title="Street Analyzer logo" width="109"></a></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</td>

<td class="esd-structure es-p20t es-p20b es-p40r es-p40l" esd-general-paddings-checked="true" align="left">
    <table width="100%" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td class="esd-container-frame" width="520" valign="top" align="center">
                    <table width="100%" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td class="esd-block-text" align="left">
                                    <h1 style="color: #4a7eb0;">Obrigado por se inscrever</h1>
                                </td>
                            </tr>
                            <tr>
                                <td class="esd-block-spacer es-p5t es-p20b" style="font-size:0" align="left">
                                    <table width="5%" height="100%" cellspacing="0" cellpadding="0" border="0">
                                        <tbody>
                                            <tr>
                                                <td style="border-bottom: 2px solid #999999; background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; height: 1px; width: 100%; margin: 0px;"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td class="esd-block-text es-p10b" align="left">
                                    <p><span style="font-size: 16px; line-height: 150%;">Olá {{name}}, seja bem-vindo(a) ao Street Analyzer</span></p>
                                </td>
                            </tr>
                            <tr>
                                <td class="esd-block-text" align="left">
                                    <p>Está tudo pronto para você nos ajudar no monitoramento da qualidade das vias que tem acesso diariamente. Esperamos poder contribuir com a qualidade e conforto diário no seu trajeto. Clique no seguinte link para confirmar sua conta <a href = "{{authToken}}">{{authToken}}</a></p>
                                </td>
                            </tr>
                            <!--<tr>
                                <td class="esd-block-text" align="left">
                                    <p>If you need help visit the <a target="_blank" href="">Help</a> page or <a target="_blank" href="">contact us</a>.</p>
                                </td>
                            </tr>-->
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</td>