name: Run tests

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [13.x]

    steps:
    - name: Git checkout
      uses: actions/checkout@v1

    - name: Install pylint
      run: pip install pylint

    - name: npm install, build, and test
      working-directory: ./SERVER
      run: |
        npm ci --if-present
        npm run build --if-present
        npm test --if-present
